<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BusTime.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9408C5A529A0A5EA005DE2EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9408C5B529A0A5EC005DE2EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9408C5BF29A0A5EC005DE2EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
